#{extends 'main.html' /}
#{set title:'Eventos' /}

<a href="@{Eventos.form}" class="link-primary">Formulário</a>
<a href="@{Eventos.listar}" class="link-primary">Listagem</a>
<a href="@{Login.sair}">Sair</a>
</br></br>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<style>
    form {
        margin: 0 auto;
        max-width: 600px;
    }
</style>


<form action="@{Eventos.salvar}" method="POST" enctype="multipart/form-data">

	<h1>Cadastro de Evento</h1>

	<input type="hidden" name="p.id" value="${eve?.id}" >

	<label>Nome:</label>
	<input type="text" name="p.nome" value="${eve?.nome}" class="form-control">
	</br>

	<label>Descrição:</label>
	<input type="text" name="p.descriçao" value="${eve?.descriçao}" class="form-control">
	</br>
	
	<label>Link Portal IFRN:</label>
	<input type="url" name="p.link" value="${eve?.link}" class="form-control">
	</br>
	
	<label>Foto Curso:</label>
	<input type="file" name="p.imagem">
	</br></br>
	
	
	
	<label>Data início:</label>
	<input type="text" class="datepicker date form-control" name="p.dataIni">
	</br>
	
	<label>Data fim:</label>
	<input type="text" class="datepicker date form-control" name="p.dataFim">
	</br>
	
	
	
	
	<input type="submit" class="btn btn-primary">

</form>
