#{extends 'main.html' /}
#{set title:'Home' /}

    #{if session.get("usuario.nivel").equals("1")}
	<a href="@{Usuarios.form}">Cadastro</a>
	#{/if}
	
    <a href="@{Usuarios.listar}">Lista</a>
    <a href="@{Login.sair}">Sair</a>
    
    logado com: ${session.get("usuario.email")}
    </br>


#{list items:usuarios, as:'u'}
	
	#{if session.get("usuario.nivel").equals("1")}
	<a href="@{Usuarios.editar(u.id)}">Editar</a>
	<a href="@{Usuarios.remover(u.id)}">Remover</a>
	#{/if}

	${u.nome} | ${u.email}<br/>
	
#{/list}
